<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Dashboard</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="dashboard-grid">
        <ion-row class="ion-justify-content-evenly dashboard-card-row">
            <ion-col *ngFor="let item  of dashboardCards" sizeXs="8.5" sizeSm="2" size-md="2"
                     class="dashboard-card-col">
                <ion-card class="dashboard-card ion-activatable ripple-parent" [color]="item.color">
                    <ion-ripple-effect></ion-ripple-effect>
                    <ion-card-header>
                        <ion-card-title class="title">{{item.value}}</ion-card-title>
                        <ion-card-subtitle class="subtitle">{{item.category}}</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        <img [src]="'assets/img/card-icons/'+item.icon">
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
