<ion-app [class.dark-theme]="darkMode">
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay">
            <ion-content>
                <ion-list id="inbox-list">
                    <ion-menu-toggle autoHide="false">
                        <ion-item routerDirection="root" routerLink="" lines="none" class="selected">
                            <ion-icon slot="start" name="home"></ion-icon>
                            <ion-label>Home</ion-label>
                        </ion-item>
                    </ion-menu-toggle>

<!--                    <ion-list-header>Inbox</ion-list-header>-->
<!--                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">-->
<!--                        <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none"-->
<!--                                  detail="false" [class.selected]="selectedIndex == i">-->
<!--                            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>-->
<!--                            <ion-label>{{ p.title }}</ion-label>-->
<!--                        </ion-item>-->
<!--                    </ion-menu-toggle>-->
                  <ion-list-header>Analysis</ion-list-header>
                  <ion-menu-toggle autoHide="false">
                    <ion-item routerDirection="root" routerLink="" lines="none">
                      <ion-icon name="apps-outline" slot="start"></ion-icon>
                      <ion-label>India</ion-label>
                    </ion-item>
                  </ion-menu-toggle>

                  <ion-menu-toggle autoHide="false">
                    <ion-item routerDirection="root" routerLink="" lines="none">
                      <ion-icon name="earth-outline" slot="start"></ion-icon>
                      <ion-label>World</ion-label>
                    </ion-item>
                  </ion-menu-toggle>

                  <ion-menu-toggle autoHide="false">
                    <ion-item routerDirection="root" routerLink="" lines="none">
                      <ion-icon name="bar-chart-outline" slot="start"></ion-icon>
                      <ion-label>Overview</ion-label>
                    </ion-item>
                  </ion-menu-toggle>

                  <ion-list-header>Help</ion-list-header>
                  <ion-menu-toggle autoHide="false">
                    <ion-item routerDirection="root" routerLink="" lines="none">
                      <ion-icon name="help-circle-outline" slot="start"></ion-icon>
                      <ion-label>FAQ's</ion-label>
                    </ion-item>
                  </ion-menu-toggle>

                  <ion-menu-toggle autoHide="false">
                    <ion-item routerDirection="root" routerLink="" lines="none">
                      <ion-icon name="logo-rss" slot="start"></ion-icon>
                      <ion-label>Guidelines</ion-label>
                    </ion-item>
                  </ion-menu-toggle>

                  <ion-menu-toggle autoHide="false">
                    <ion-item routerDirection="root" routerLink="" lines="none">
                      <ion-icon name="call-outline" slot="start"></ion-icon>
                      <ion-label>Helpline</ion-label>
                    </ion-item>
                  </ion-menu-toggle>

                  <ion-list-header>Info</ion-list-header>
                  <ion-menu-toggle autoHide="false">
                    <ion-item routerDirection="root" routerLink="" lines="none">
                      <ion-icon name="newspaper-outline" slot="start"></ion-icon>
                      <ion-label>News Center</ion-label>
                    </ion-item>
                  </ion-menu-toggle>

                  <ion-menu-toggle autoHide="false">
                    <ion-item routerDirection="root" routerLink="" lines="none">
                      <ion-icon name="newspaper-outline" slot="start"></ion-icon>
                      <ion-label>About</ion-label>
                    </ion-item>
                  </ion-menu-toggle>

                  <ion-list-header>Theme</ion-list-header>
                    <ion-item routerDirection="root" routerLink="" lines="none">
                      <ion-icon name="help-circle-outline" slot="start"></ion-icon>
                      <ion-label>Dark mode</ion-label>
                        <ion-toggle [(ngModel)]="darkMode"></ion-toggle>
                    </ion-item>
                </ion-list>


            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
